# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output files
*.out
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
vendor/

# Golang cache and build
*.mod
*.sum
bin/
pkg/

# IDE-specific settings (VS Code, IntelliJ, GoLand, etc.)
.vscode/
.idea/

# SQLite database file
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# JWT token keys or sensitive files (if any)
.env

# ignore file in image
images/*
